@import "../../root.scss";

.switcherContainer ul {
  display: flex;
  flex-direction: row;
  width: 20rem;
  justify-content: flex-start;
  color: $field-01;
  align-items: center;
  @extend .productiveHeading01;
  height: 3rem;
  cursor: pointer;
}

.switcherContainer ul > svg {
  margin: 0rem 0.75rem;
  fill: $field-01;
}

.switcherContainer ul div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  @extend .bodyLong01;
}
